
h1{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size:Gill Sans;
}
h3{
    
    text-align: center;
    color:rgb(0, 0, 0);
    font-size:Gill Sans;
    
}
body{
    background-color:rgb(255, 255, 255)

}
h2{
    text-align: center;
    color:rgb(35, 204, 216);
    font-size:Gill Sans;
    }
